@import 'theme';

body{
    -webkit-font-smoothing: antialiased;
    background-color: #111;
    margin: 0;
    color: white;
    font-family: aventa;
    font-weight: 400;
    text-align: center;
    margin-top: 50vh;
    font-size: 24px;
}